{% extends 'layout.html' %}

{% block title %}
  {{ user.username }} - Profile
{% endblock %}

{% block content %}
    <div class="card shadow rounded-1 p-5" style="background: linear-gradient(rgba(96, 196, 232, 1), #289ea4);">
      <div class="row align-items-center">
        <div class="col-md-5 text-center">
          {% if profile.profile_photo %} 
          <img src="{{ profile.profile_photo.url }}" class="img-fluid rounded-circle border" style="width: 300px; height: 300px; object-fit: cover;" alt="Profile Photo">
          {% else %}
            <div class="bg-secondary text-white rounded-circle d-flex align-items-center justify-content-center" style="width:150px; height:150px;">
              No Photo
            </div>
          {% endif %}
        </div>

        <div class="col-md-6">
          <div class="d-flex gap-4 mt-3">
            <div><strong>Posts:</strong> {{ tweet_count | default:"0" }}</div>
            <div><strong>Followers:</strong> {{ profile.followers_count|default:"0" }}</div>
            <div><strong>Following:</strong> {{ profile.following_count|default:"0" }}</div>
          </div>
          <div class=" gap-4 mt-3">
            <h2 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="text-muted">@{{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Location:</strong> {{ profile.location }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
            <p><strong>Phone:</strong> {{ profile.phone }}</p>
            <p><strong>Address:</strong> {{ profile.address }}</p>
            <p><strong>DOB:</strong> {{ profile.birthdate }}</p>
          </div>
          <div class="mt-3">
            <button class="btn btn-success me-2">Follow</button>
            <button class="btn btn-outline-danger">Like</button>
          </div>

        </div>
      </div>
      <div class="mt-4 text-center">
        <a href="{% url 'edit_profile' %}" class="btn btn-lg w-100 mt-3 text-dark" style="background-color: #70f3ffff;">
          Edit Full Profile
        </a>
      </div>

  </div>
{% endblock %}
