{% extends "layout.html" %}


{% block title %}
  Logged Out - Social Chai Application
{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center">You have been logged out</h2>
    <p class="text-center">Thank you for using Social Chai. We hope to see you again soon!</p>
    <div class="text-center mt-4">
      <a href="{% url 'login' %}" class="btn btn-primary">Login Again</a>
      <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Back to Home</a>
    </div>
  </div>
{% endblock content %}